<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style='background-color:#b9f1d7;'>
    <a class="navbar-brand" href="#" style="color:#198754;">Mobile App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/account">Mon compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/call">Appel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/offer">Offre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cashin">Depot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cashout">Retrait</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/login">Deconnexion</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav> <div class="container col-md-6 col-lg-6 col-sm-6 p-5 con shadow-lg p-3 mb-5 rounded" style="border-radius: 5px solid; silver;">
   <h1 class="p-2">Mon compte</h1>
	<p class="p-2">Le solde de votre compte est de : <b> {{solde}}  </b></p>
</div>

