<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style='background-color:#b9f1d7;'>
    <a class="navbar-brand" href="#" style="color:#198754;">Mobile App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/account">Mon compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/call">Appel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/offer">Offre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cashin">Depot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cashout">Retrait</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/login">Deconnexion</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>
 <div class="container col-md-6 col-lg-6 col-sm-6 p-5 con shadow-lg p-3 mb-5 rounded" style="border-radius: 5px solid; silver;"><div class="rows">
  <div class="column">
        <h2>Mes offres</h2>

    <mat-table *ngIf="offers" [dataSource]="offers">
      <!-- User name Definition -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.nom}}</mat-cell>
      </ng-container>

      <!-- Age Definition -->
      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.codeOffre}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="validity">
        <mat-header-cell *matHeaderCellDef> Validité </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.validite}} jour(s) </mat-cell>
      </ng-container>


      <!-- Title Definition -->
      <ng-container matColumnDef="expiryDate">
        <mat-header-cell *matHeaderCellDef> Expiré le : </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.expiration}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
    </mat-table>

    <br/>
         <h2>Acheter une offre</h2>
        <form class="example-form">
          <mat-label>Choisir l'offre</mat-label>
           <mat-select  [(value)]="selectedValue">
            <mat-option  *ngFor="let o of alloffers"   [value]="o.id">
              {{o.nom}}
            </mat-option>
          </mat-select>
          
        <div class="p-2 col-md-12 col-lg-12 col-sm-12">
           <button (click)="buyOffer()" class="btn btn-success">Acheter</button>
         </div>
        </form> 
     </div>
  </div>
    </div>







